*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gitignore
.idea/.name

app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
